{{>header}}


<p>Welcome to the weather app, where you can get your local weather!</p>

<form>
    <input placeholder="e.g. Nottingham UK">
    <button>Search</button>

</form>

<p id="successMessage"></p>
<p id="errorMessage"></p>

<script src="./js/app.js"></script>
{{>footer}}

